@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

section {
	width: 100%;
	height: 60vh;
	background-color: #000;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	color: #fff;
	opacity: 1;
	transition: opacity 1.5s;
	font-family: Orbitron;

	&.off {
		opacity: 0;
	}
}
